<section class="post-comments">
    {% if site.valine_comment.enable %}
    <div id="valinecomments"></div>
    <script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
    <script src="//unpkg.com/valine/dist/Valine.min.js"></script>
    <script>
        new Valine({
            el: '#valinecomments',
            app_id: '{{ site.valine_comment.leancloud_appid }}',   //这里变量的取值在网站配置文件里_config.yml
            app_key: '{{ site.valine_comment.leancloud_appkey }}', //这里变量的取值在网站配置文件里_config.yml
            placeholder:'{{ site.valine_comment.placeholder }}'    //这里变量的取值在网站配置文件里_config.yml
        });</script>
    {% elsif site.comment_gitment_repo %}
    <div id="gitmentContainer"></div>
    <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
    <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
    <script>
        var gitment = new Gitment({
            id: '<%= page.date %>',
            owner: '{{site.github_username}}',
            repo: '{{site.comment_gitment_repo}}',
            oauth: {
                client_id: '{{site.comment_gitment_clientId}}',
                client_secret: '{{site.comment_gitment_clientSecret}}',
            },
        });
        gitment.render('gitmentContainer')
    </script>
    {% endif %}

</section>
